
h1 {
    text-align: center;
    font-size: 34px;
    font-style: initial;
    font-weight: bold;
    align-items: center;
}

h3 {
    font-style: italic;
}

body {
    background-color: #c4f5cb;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.main_panel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.7em;

}
.panel {
    background-color: #5bdceb;
    border-radius: 10px;
    padding: 15px 25px;
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.panel2 {
    background-color: #5bdceb;
    border-radius: 20px;
    padding: 8px 25px;
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
    row-gap: 0.1em;
    column-gap: 1em;

}

.panel3{
    background-color: #d1cfd0;
    border-radius: 10px;
    padding: 15px 25px;
    width: 100%;
    max-width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.chart {
    width: 100%;
    display: flex;
    max-width: 900px;
    max-height: 400px;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
}

.box{
    border-bottom: 2px solid #e1f1ff;
}

.header2 {
    color: darkslateblue;
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 1px;
}

.features {
    margin: 50px 0 30px;
    color: #016ff1;
}

.item {
    font-weight: 600;
    font-style: normal;
    color: darkslateblue;
    font-size: 18px;
    line-height: 1.5;
    padding: 12px 0;
    border-top: 1px solid darkgray;
}

.item2 {
    font-weight: 600;
    font-style: normal;
    color: black;
    font-size: 15px;
    line-height: 1.5;
    padding: 12px 0;
    border-top: 1px solid darkgray;
}

.item3 {
    font-size: 16px;
    font-weight: bold;
}

@media (min-width: 900px){
    .panel {
        flex-direction: row;
    }
    .box {
        border-bottom: none;
        border-inline: 1px solid #e1f1ff;
        padding: 25px 50px;
    }

}